# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.sdf
*.sdf
*.suo
CNN/CNN.sdf
CNN/CNN.v12.suo
CNN/CNN/Debug/CNN.log
CNN/CNN/Debug/CNN.tlog/CL.read.1.tlog
CNN/CNN/Debug/CNN.tlog/CL.write.1.tlog
*.ilk
*.opensdf
*.pdb
*.tlog
CNN/CNN/Debug/CNN.tlog/link.write.1.tlog
CNN/CNN/Debug/CNN.tlog/link.command.1.tlog
CNN/CNN/Debug/CNN.tlog/CNN.lastbuildstate
CNN/CNN/Debug/CNN.tlog/CL.write.1.tlog
CNN/CNN/Debug/CNN.tlog/link.command.1.tlog
*.idb
CNN/CNN/Debug/CNN.tlog/CL.write.1.tlog
CNN/CNN/Debug/CNN.tlog/CL.write.1.tlog
*.tlog
*.tlog
*.pdb
